################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sprint 1/JSON/Admins.json
/Sprint 1/JSON/Menu.json
/Sprint 1/JSON/Customers.json
/Sprint 1/JSON/Reservations.json
/Sprint 1/JSON/Reviews.json
/Sprint 1/JSON/Tables.json
